:root {
  --dark-choco: #453623;
  --light-choco: #fee9ce;
  --light-grey: #c4c4c4;
  --teal: #00917C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika Negative', sans-serif;
  color: var(--dark-choco);
}

a {
  text-decoration: none;
  color: var(--dark-choco);
  display: block;
}

/* NAVBAR */

.navbar-title,
#navbar-expanded {
  background-color: var(--light-choco);
}

#navbar-expanded {
  display: none;
}

.navbar-title {
  display: flex;
}

#hamburger-menu {
  height: 1.5rem;
  align-self: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.logo-title {
  width: 100%;
}

#logo-banner {
  height: 80%;
}

#navbar-expanded hr {
  border: none;
  border-top: 1px solid var(--dark-choco);
}

.nav-item {
  display: flex;
  height: 3rem;
  justify-content: center;
}

.nav-item img {
  height: 50%;
  align-self: center;
}

.nav-item p {
  align-self: center;
  margin-left: 0.5rem;
}

#navbar-expanded a:hover {
  background-color: var(--dark-choco);
  color: white;
}

span.nav-item {
  display: none;
}

#nav-home:hover img {
  content: url('../src/icons/home-icon-light.png');
}

#nav-classic:hover img {
  content: url("../src/icons/classic-icon-light.png");
}

#nav-custom:hover img {
  content: url("../src/icons/custom-icon-light.png");
}

#nav-checkout:hover img {
  content: url("../src/icons/checkout-icon-light.png");
}

/* FOOTER */

footer {
  background-color: var(--dark-choco);
  color: white;
  padding: 2rem;
  text-align: center;
}

footer a {
  display: inline-block;
}

footer img {
  width: 1.5rem;
  margin: 0 0.5rem;
}

footer p {
  margin-bottom: 1rem;
  font-size: 1rem;
}






/* DESKTOP */

@media screen and (min-width: 500px) {
  #hamburger-menu {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  nav hr {
    display: none;
  }

  .nav-item {
    justify-content: flex-start;
    margin: 1rem;
  }

  #navbar-expanded {
    display: flex;
    justify-content: flex-end;
  }

  span.nav-item {
    display: flex;
    align-content: center;
    height: 100%;
    margin: 0;
  }

  .dropdown {
    position: relative;
  }

  .products {
    background-color: var(--light-choco);
    position: absolute;
    left: 0;
    top: 5rem;
    margin: 0;
    display: none;
    width: 10rem;
  }

  .products a {
    padding: 1rem;
  }

  .products .nav-item {
    margin: 0;
  }

  .dropdown:hover .products {
    display: block;
  }

  .dropdown:hover span.nav-item{
    background-color: var(--dark-choco);
    color: white;
  }
  
}