main {
  padding: 2rem;
}

#yes-clear-cart, #yes-delete-item {
  background-color: var(--teal);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

#yes-clear-cart:hover, #yes-delete-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title h2 {
  align-self: center;
}

.title button {
  text-transform: uppercase;
  padding: 1rem;
  background-color: white;
  border: none;
  color: var(--dark-choco);
  font-weight: bold;
  letter-spacing: .125rem;
  cursor: pointer;
  border-radius: 1rem;
}

.title button:hover {
  background-color: var(--light-grey);
}

.cart-overlay {
  background-color: var(--dark-choco);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity .5s;
  padding: 0 1rem;
}

.cart-overlay > p {
  align-self: end;
}

.edit-amount {
  display: flex;
}

.amount {
  margin: 0 1rem;
  align-self: center;
}

.amount-button {
  border: none;
  background-color: white;
  cursor: pointer;
  color: var(--dark-choco);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.amount-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.amount-button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.cart {
  display: grid;
  grid-template-columns: auto auto 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin: 0 0 2rem 0;
  position: relative;
}

.cart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cart:hover .cart-overlay {
  opacity: 1;
}

.cart:hover .amount-button {
  visibility: visible;
}

.opacity-zero {
  opacity: 0;
}

.not-visible {
  visibility: hidden;
}

.cart img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  margin: 1rem;
}

.cart-info {
  align-self: center;
}

.cart-info h3, .cart-info p {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

.quantity {
  justify-self: right;
  width: 3rem;
  display: grid;
  place-items: center;
  padding-right: 0.5rem;
}

.quantity .circle {
  background-color: var(--teal);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.circle p {
  color: white;
}

.empty-cart a {
  color: white;
}

.empty-cart a:hover {
  text-decoration: underline;
  color: var(--teal);
}

.empty-cart {
  background-image: url('../src/banners/empty-cart-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5rem;
  font-size: 250%;
  color: white;
  border-radius: 2rem;
}

#total {
  font-size: 1.25rem;
}

#total span {
  font-weight: bold;
}

main hr {
  margin: 2rem 0;
}