main {
  padding: 2rem;
}

#yes-clear-cart {
  background-color: var(--teal);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#yes-clear-cart {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title h2 {
  align-self: center;
}

.title button {
  text-transform: uppercase;
  padding: 1rem;
  background-color: white;
  border: none;
  color: var(--dark-choco);
  font-weight: bold;
  letter-spacing: .125rem;
  cursor: pointer;
  border-radius: 1rem;
}

.title button:hover {
  background-color: var(--light-grey);
}

.cart {
  display: grid;
  grid-template-columns: auto auto 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin: 0 0 2rem 0;
}

.cart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cart img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  margin: 1rem;
}

.cart-info {
  align-self: center;
}

.cart-info h3, .cart-info p {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

.quantity {
  justify-self: right;
  width: 3rem;
  display: grid;
  place-items: center;
  padding-right: 0.5rem;
}

.quantity .circle {
  background-color: var(--teal);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.circle p {
  color: white;
}

.empty-cart a {
  color: white;
}

.empty-cart a:hover {
  text-decoration: underline;
  color: var(--teal);
}

.empty-cart {
  background-image: url('../src/banners/classic-bread-banner2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5rem;
  font-size: 250%;
  color: white;
  border-radius: 2rem;
}

#total {
  font-size: 1.25rem;
}

#total span {
  font-weight: bold;
}

main hr {
  margin: 2rem 0;
}