header {
  background-image: url("../src/home-banner.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 4rem;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-top: 1rem;
}

header h2 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  font-weight: 100;
  margin: 2.5rem 0;
}

header h3 {
  font-size: .75rem;
  letter-spacing: 0.125rem;
  font-weight: 100;
}

main {
  padding: 2rem;
}

/* DESKTOP */

@media screen and (min-width: 500px) {
  header h1 {
    font-size: 3rem;
    letter-spacing: 2rem;
    margin-top: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
    margin: 5rem 0;
  }

  header h3 {
    font-size: 1rem;
    letter-spacing: .5rem;
  }
}