#go-to-checkout-page {
  background-color: var(--teal);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#go-to-checkout-page:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.information,
.order {
  padding: 2rem;
}

.information {
  margin-bottom: 2rem;
}

main h2,
main h3,
.rating {
  margin-bottom: 1rem;
}

main h2 {
  font-size: 2rem;
}

main h3 {
  font-weight: 100;
}

#image-picker {
  display: none;
}

.rating img {
  width: 2rem;
}

.order {
  position: relative;
}

.stocks {
  display: flex;
}

#stock {
  align-self: center;
  margin: 0 1rem;
  font-size: 1.25rem;
}

.order button {
  background-color: var(--teal);
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.125rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#add-to-cart {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--light-grey);
  cursor: not-allowed;
}

.stocks button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-weight: bold;
}

.order button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#subtotal {
    align-self: center;
    padding-left: 2rem;
    display: none;
}

@media screen and (min-width: 900px) {
  main {
    display: flex;
    padding: 5rem;
  }

  #content {
    width: 60%;
    margin-left: 3rem;
  }

  .information,
  .order {
    padding: 0;
  }

  .stocks {
    padding-top: 2rem;
    position: relative;
  }

  #add-to-cart {
    right: 0;
    bottom: 0;
  }

  .banner {
    width: 40%;
  }

  #image-picker {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  #image-picker img {
    width: 30%;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 5px solid rgba(0, 0, 0, 0);
  }

  #image-picker img:hover {
    border-color: var(--teal);
  }

  .image-picker-active {
    border-color: var(--dark-choco) !important;
  }

  #subtotal {
    display: inline-block;
  }

}
