/* HEADER */

header {
  background-image: url("../src/home-banner.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 4rem;
}

.logo-light {
  width: 4rem;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-top: 1rem;
}

header h2 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin: 3rem 0;
  font-weight: 100;
}

header h3 {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  margin-bottom: 3rem;
  font-weight: 100;
}

/* HEADER -> INPUT */

.search-stores {
  padding: 1rem;
  border-radius: 5rem;
  background-color: white;
  display: flex;
}

.search-stores img {
  width: 1rem;
  height: 1rem;
}

.search-stores input {
  width: 100%;
  border: none;
  margin-left: 1rem;
}

.search-stores input:focus {
  outline: none;
}

.search-stores input::placeholder {
  color: var(--dark-choco);
}

/* MAIN */

main {
  padding: 1rem;
}

/* MAIN -> NEWS */

.news {
  text-align: center;
}

.news h2 {
  padding: 2rem;
  font-size: 2rem;
}

.image-slider {
  display: flex;
  justify-content: center;
}

.news-image {
  border-radius: 1rem;
  margin: 0 1rem;
  width: 80%;
  display: none;
}

.image-active {
  display: inline-block;
}

.arrow {
  height: 2rem;
  align-self: center;
  cursor: pointer;
}

#arrow-right:hover {
  content: url('../src/arrow-right-fill.png');
}

#arrow-left:hover {
  content: url('../src/arrow-left-fill.png');
}

main hr {
  border: none;
  border-top: 1px solid var(--light-grey);
  width: 75%;
  margin: 3rem auto;
}

/* MAIN -> NEW BREADS */

.new-breads {
  padding: 1rem;
}

.new-breads h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}












/* DESKTOP */

@media screen and (min-width: 600px) {
  header {
    text-align: left;
  }

  header h1 {
    font-size: 3rem;
    letter-spacing: 2rem;
  }

  header h2 {
    font-size: 2rem;
  }

  header h3 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  .search-stores {
    width: 50%;
  }

  .news-image {
    width: 60%;
  }

}